PORT=8000
DEBUG=True
MODEL_PATH=D:/dev/SRSA/ml-service/models/disease_prediction.h5
ENCODER_PATH=D:/dev/SRSA/ml-service/models/label_encoder.pkl
FEATURE_PATH=D:/dev/SRSA/ml-service/models/features.json