PORT=8000
DEBUG=True
MODEL_PATH=models/disease_prediction.h5
ENCODER_PATH=models/label_encoder.pkl
FEATURE_PATH=models/features.json
DROPPED_FEATURES_PATH=models/dropped_features.json
GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash
