PORT="5000"
GEMINI_API_KEY="YOUR_GEMINI_API_KEY"
FRONTEND_URL="http://127.0.0.1:3000"
NODE_ENV="development"
ML_SERVICE_URL=http://127.0.0.1:8000
GEMINI_MODEL=gemini-2.5-flash
MONGODB_URL=mongodb://localhost:27017/SRSA
JWT_KEY=b4e3f5a82c7d8a1d9e0f3a4b6c