# Ignore node_modules and build artifacts
/node_modules
/dist
/build
/coverage

# Ignore environment variable files
.env
.env.local
.env.development
.env.test
.env.production


# logs 
*.log
*.*-audit.json